.navbar {
	position: relative;
}
.navbar__wrap {
	background: #f0f0f0;
}
.navbar__input {
	display: none;
}
.navbar__input:checked ~ .navbar__container .navbar__icon {
	border: none;
}
.navbar__input:checked ~ .navbar__container .navbar__icon::before {
	transform: rotate(45deg) translate(7.5px, 4px);
	top: -8px;
	transition: .2s;
}
.navbar__input:checked ~ .navbar__container .navbar__icon::after {
	transform: rotate(135deg) translate(-5px, 2px);
	transition: .2s;
}
.navbar__container {
	overflow: hidden;
}
.navbar__mobile {
	display: none;
	position: relative;
	height: 40px;
	background: #f7f7f7;
}
.navbar__toggler {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	width: 30px;
	height: 30px;
	margin: auto;
	z-index: 999;
	border-radius: 4px;
	cursor: pointer;
	background: #ddd;
}
.navbar__icon {
	display: block;
	position: relative;
	top: 50%;
	width: 24px;
	margin: -2px auto 0;
	border: 2px solid #555;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::before {
		content: "";
		position: absolute;
		width: 24px;
		margin-left: -2px;
		border: 2px solid #555;
		border-radius: 5px;
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
		top: -9px;
		transition: .2s;
	}
	&::after {
		content: "";
		position: absolute;
		width: 24px;
		margin-left: -2px;
		border: 2px solid #555;
		border-radius: 5px;
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
		top: 5px;
		transition: .2s;
	}
}
.navbar__content {
	height: auto;
	-webkit-transition: .5s;
	transition: .5s;
}
.nav {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	font-size: 0;
	background: rgba(0, 0, 0, 0.5);
}
.nav__item {
	padding: 0;
}
.nav__item_adaptive {
	display: inline-block;
	width: 20%;
}
.nav__link {
	display: block;
	height: 75px;
	line-height: 75px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #eee;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	-webkit-transition: .2s;
	transition: .2s;
	&:hover {
		background: aqua;
	}
}
@media (max-width: 767px) {
	.navbar__input:checked ~ .navbar__container .navbar__content {
		height: 385px;
	}
	.navbar {
		margin: 0;
	}
	.navbar__content {
		height: 0;
	}
	.navbar__mobile {
		display: block;
	}
	.nav__item_adaptive {
		display: block;
		width: 100%;
	}
	.nav__link {
		border-bottom: 2px solid rgba(0,0,0,.2);
	}
}
