.navbar
	.navbar__wrap
		input.navbar__input(id='nav-mini' type='checkbox')
		.navbar__container
			.navbar__mobile
				label.navbar__toggler(for='nav-mini')
					.navbar__icon
			.navbar__content
				ul.nav
					li.nav__item.nav__item_adaptive
						a.nav__link(href='#') Main
					li.nav__item.nav__item_adaptive
						a.nav__link(href='#') Buying
					li.nav__item.nav__item_adaptive
						a.nav__link(href='#') Selling
					li.nav__item.nav__item_adaptive
						a.nav__link(href='#') Renting
					li.nav__item.nav__item_adaptive
						a.nav__link(href='#') Finance