// Variables
$main-color: #000; 
$second-color: #2098f5;

$sans-serif: Tahoma, Verdana, Arial, sans-serif;
$serif: serif;

$title-color: #fff;
$text-color: #939393;

$main-bg: #000;

@import '../../../bower_components/normalize-css/normalize';
@import 'custom-reset';
@import 'fonts';

// Settings
html {
  font-size: 16px;
}

body {
  font-family: $font;
  font-size: 1rem;
  line-height: 1.5;
  color: $text-color;
}

html,
button,
input,
optgroup,
select,
textarea {
	font-family: $font;
}

h1, h2, h3, h4, h5, h6 {
	color: $title-color;
}