extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Real Estate',
			keywords: 'Keywords of page Real Estate',
			description: 'Description of page Real Estate'
		};

block append meta
	//-bower:css
	//-endbower

block prepend scripts
	//-bower:js
	//-endbower