extends ../../index

block page-vars
	-
		var page = {
			title: 'About',
			keywords: 'Keywords of page 404',
			description: 'Description of page 404'
		};

block body
	include ../includes/_header
	include ../includes/_about
	include ../includes/_footer