extends ../../index

block page-vars
	-
		var page = {
			title: 'Contacts',
			keywords: 'Keywords of page 404',
			description: 'Description of page 404'
		};

block body
	include ../includes/_header
	include ../includes/_contacts
	include ../includes/_footer