section.l-section-one.container
	.carousel
		input.carousel__radio(id="slide-1" type="radio" name="input" checked="checked")
		input.carousel__radio(id="slide-2" type="radio" name="input")
		input.carousel__radio(id="slide-3" type="radio" name="input")

		ul.carousel__container
			li.carousel__item
				.carousel__content.row
					.carousel__left.col-md-8
						img.carousel__img(src="img/carousel__slide-1.jpg" alt="")
					.carousel__right.col-md-4
						.carousel__right-content
							h2.carousel__title 2053 
								span.break-md-up
								|Shenandoah
							h5.carousel__address San Diego CA 90035
							p.carousel__text.hidden-md-down
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.carousel__price $750,000
			li.carousel__item
				.carousel__content.row
					.carousel__left.col-md-8
						img.carousel__img(src="img/carousel__slide-2.jpg" alt="")
					.carousel__right.col-md-4
						.carousel__right-content
							h2.carousel__title 2053 
								span.break-md-up
								|Shenandoah
							h5.carousel__address San Diego CA 90035
							p.carousel__text.hidden-md-down
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.carousel__price $750,000
			li.carousel__item
				.carousel__content.row
					.carousel__left.col-md-8
						img.carousel__img(src="img/carousel__slide-3.jpg" alt="")
					.carousel__right.col-md-4
						.carousel__right-content
							h2.carousel__title 2053 
								span.break-md-up
								|Shenandoah
							h5.carousel__address San Diego CA 90035
							p.carousel__text.hidden-md-down
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.carousel__price $750,000

		.carousel__naw-arrows
			label.carousel__arrow(for="slide-1")
			label.carousel__arrow(for="slide-2")
			label.carousel__arrow(for="slide-3")

		.carousel__nav-btn-wrap.offset-md-8.col-md-4
			.carousel__nav-btn
				label.carousel__btn(for="slide-1")
				label.carousel__btn(for="slide-2")
				label.carousel__btn(for="slide-3")