@import '../../modules/css-figures/css-figures';

.footer {
	position: relative;
}
.err-page__icon {
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin: auto;
	width: 30px;
	height: 30px;
}