.follow {
	margin-right: 15px;
	&__container {
		margin: 0;
		padding: 0;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-left: .2em;
	}
	&__text {
		color: #fff;
		margin-bottom: 0;
		margin-right: 5px;
		font-size: 1.8rem;
	}
	&__link {
		line-height: 1px;
		display: inline-block;
		vertical-align: middle;
		background: inherit;
		transition: .2s;
		&:hover {
			background: $second-color;
		}
	}
	&__icon-tweetter {
		@include sprite(follow__tweetter);
	}
	&__icon-facebook {
		@include sprite(follow__facebook);
	}
	&__icon-add {
		@include sprite(follow__add);
	}
}