@keyframes slider__item-autoplay {
	0% { opacity: 0; }
	10% { opacity: 1; }
	33% { opacity: 1; }
	43% { opacity: 0; }
	100% { opacity: 0; }
}
.slider {
	position: relative;
	padding-left: 0;
	margin: 0;
	z-index: 0;
	&__item {
		position: absolute;
		list-style-type: none;
		top: 0;
		opacity: 1;
		transition: opacity .2s linear 0s;
		animation: slider__item-autoplay 30s infinite;
		&:first-of-type {
			position: relative;
		}
		&:nth-of-type(2) {
			animation-delay: 10s;
			opacity: 0;
		}
		&:nth-of-type(3) {
			animation-delay: 20s;
			opacity: 0;
		}
	}
	&__img {
		width: 100%;
		vertical-align: top;
	}
}