@import '../../modules/tooltip/tooltip';
.tooltip {
	color: $second-color;
	&::before {
		color: #fff;
		background: $second-color;
	}
	&::after {
		border-color: $second-color transparent transparent transparent;
	}
}

.info-greet,
.info-agents,
.w-search,
.w-our-office {
	margin-top: 2rem;
}
.info__text:last-child::after {
	content: "";
	display: block;
	margin-top: 1.5rem;
	border-top: 2px dotted $text-color;
	opacity: .5;
}

.info-agents {
	&__col {
		margin-bottom: 40px;
	}
	&__img {
		width: 100%;
		border: 4px solid #fff;
		cursor: pointer;
		transition: .2s;
		&:hover {
			border-color: $second-color;
		}
	}
	&__link {
		padding: 0px 20px;
		background: $second-color;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
		transition: .2s;
		&:hover {
			background: darken($second-color, 10%);
		}
	}
}

.search {
	&__label {
		margin-top: 1rem;
		margin-bottom: .2rem;
	}
	&__select,
	&__input {
		width: 100%;
		padding: 5px;
		border: none;
		background: $main-color;
		color: $text-color;
	}
	&__select {
		cursor: pointer;
	}
}

.w-search__btn {
	display: block;
	width: 100%;
	padding: 5px 0px;
	border: none;
	margin-top: 2rem;
	cursor: pointer;
	background: $second-color;
	color: #fff;
	font-size: 1.5rem;
	transition: .2s;
	&:hover {
		background: darken($second-color, 10%);
	}
}

.w-our-office {
	&__img-wrap {
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.20) 0%,rgba(0, 0, 0, 0) 64%);
	}
	&__img {
		@include sprite(sec-two__map);
		@include icon-full-width(sec-two__map);
	}
	&__link {
		display: inline-block;
		color: #fff;
		transition: .2s;
		&:hover {
			color: $second-color;
		}
	}
	&__link::before {
		content: "";
		display: inline-block;
		border-width: 4px 6px 4px 4px;
		border-color: transparent transparent transparent $second-color;
		border-style: solid;
	}
}

@media (min-width: 992px) {
	.info-agents {
		&__col {
			position: static;
			margin-bottom: 40px;
		}
		&__link {
			position: absolute;
			bottom: 0;
		}
	}
}