.page {
	background: #3b3b3b;
}
.sticky-footer {
	background: #3b3b3b;
	background: url(../img/fon.png) #272727; // for ie9
}
.header {
	background: #131313;
}
.main-content {
	height: 100%;
	background: #272727 url(../img/fon.png);
}
.l-section-one {
	background: rgba(0,0,0,.5);
}
.err-page {
	background: #3b3b3b;
	background: url(../img/fon.png) #272727;
}
.footer {
	background: #131313;
}
section {
}
section:last-of-type {
	background: inherit;
}

// div {
// 	outline: 1px solid deeppink;
// }
// nav, section, header, footer {
// 	outline: 1px solid lime;
// }
// p, h1, h2, h3, h4, h5, h6, a {
// 	outline: 1px solid aqua;
// }